@inject NavigationManager NavigationManager

<MudCard Class="project-card d-flex flex-column" Style="height: 100%;" Elevation="2" @onclick="RedirectToItemPage">
	<div class="project-card__header">
		<MudText Typo="Typo.h6" Class="text-truncate">@project.Name</MudText>
	</div>
	<MudCardContent Class="flex-grow-1">
		<MudText Typo="Typo.body2" Color="Color.Secondary" Class="project-card__desc">@project.Description</MudText>
	</MudCardContent>
	<MudCardActions Class="d-flex justify-space-between align-center">
		<MudChip Variant="Variant.Filled" Size="Size.Small" Color="@StatusColor(project.status)">@StatusLabel(project.status)</MudChip>
		@if (project.assignedTeam?.members != null)
		{
			<MudAvatarGroup Max="3" Spacing="4" MaxColor="Color.Primary">
				@foreach (var teamMember in project.assignedTeam.members)
				{
					if (teamMember.person.AvatarPath != null)
					{
						<MudAvatar Size="Size.Small" Image="@teamMember.person.AvatarPath" />
					}
					else
					{
						<MudAvatar Size="Size.Small" Color="teamMember.person.AvatarColor">@teamMember.person.Firstname.First()@teamMember.person.Lastname.First()</MudAvatar>
					}
				}
			</MudAvatarGroup>
		}
	</MudCardActions>
</MudCard>


@code {
	[Parameter]
	public Project project{ get; set; }

	private void RedirectToItemPage()
	{
		NavigationManager.NavigateTo($"/project/{project.Id}", true);
	}

	private static string StatusLabel(ProgressStatus status) => status.ToString().Replace("_", " ");

	private static Color StatusColor(ProgressStatus status) => status switch
	{
		ProgressStatus.Done => Color.Success,
		ProgressStatus.In_Progress => Color.Warning,
		_ => Color.Info,
	};
}
